:root {
  /* variables */
  --cg-black: rgb(30, 32, 32);
  --cg-blue: rgb(36, 94, 255);
  --cg-grey: rgb(243, 243, 243);
  --cg-white: rgb(255, 255, 255);
  --cg-darkest-grey: rgb(42, 44, 44);
  --cg-dark-grey: rgb(53, 56, 56);
  --cg-darkest-pink: rgb(83, 34, 46);
  --cg-dark-pink: rgb(121, 44, 62);
  --cg-light-pink: rgb(255, 83, 123);
}

html {
  height: 100%;
}

body {
  background: var(--cg-black);
  color: var(--cg-white);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

#beach-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* CSS for navigation */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: transparent;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;

  /* Debug border */
  /* border: solid blue; */
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.2s;
  font-family: monospace;
}

.navbar a:hover {
  color: var(--cg-light-pink);
  text-decoration: none;
}

.logo a {
  font-family: Manrope;
}

.logo a:hover {
  text-decoration: None;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Manrope;
}

/* CSS for portfolio grid */

.projects {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5em;
  justify-items: center;
  width: 100%;
  align-items: start;
  box-sizing: border-box;

  /* Debug border */
  /* border: 2px solid blue; */
}

.item-link {
  width: 70%;

  /* Debug border */
  /* border: 2px solid red; */
}

.project-img {
  object-fit: cover;
  max-width: 100%;
  flex-basis: 50px;
  flex-grow: 2;
  border-radius: 20px;

  /* Debug border */
  /* border: 2px solid black; */
}

.project-details {
  border-radius: 20px;
  display: flex;
  background-color: var(--cg-darkest-pink);
  width: 450px;
  height: 450px;
  flex-shrink: 1;
  padding: 20px;
  margin: 10px;
  line-height: 1.5;
  overflow: hidden;

  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: stretch;

  font-weight: lighter;

  /* Debug border */
  /* border: 2px solid green; */
}

.project-details a {
  color: var(--cg-white);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.2s;
}

.project-details h2 {
  margin: 0px 10px;
}

.project-details a:hover {
  color: var(--cg-light-pink);
  text-decoration: none;
}

.project-details:hover,
.speech-bubble-horizontal:hover,
.speech-bubble-vertical:hover,
.about-image:hover {
  transform: scale(1.05);
}

.project-details:hover {
  background: var(--cg-dark-pink);
}

.project-name {
  font-weight: bold;
  font-size: 20px;
}

/* CSS for home page */

.speech-bubble,
.speech-bubble-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--cg-darkest-pink);
  border-radius: 20px;
  margin-bottom: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.speech-bubble-horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.speech-bubble-vertical {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.img-with-speech {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.speech-bubble-horizontal,
.speech-bubble-vertical,
.project-details,
.about-image {
  transition: transform 0.2s, background-color 0.2s;
}

.about-image {
  margin-right: 70px;
}

.about-image img {
  max-width: 300px;
  border-radius: 50%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.speech-tri-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid var(--cg-darkest-pink);
  border-bottom: 50px solid transparent;
}

.speech-tri-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--cg-darkest-pink);
  margin-left: 100px;
}

.about-text,
.hobby-text {
  flex: 1;
  margin-left: 20px;
}

.about-text,
.hobby-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text,
.hobby-text p {
  font-size: 30px;
  line-height: 1.5;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  max-width: 1400px;
}

/* CSS for resume page */

.button {
  background-color: var(--cg-black);
  border: none;
  color: var(--cg-white);

  font-family: monospace;

  padding: 5px 7px;
  text-align: center;

  border-radius: 2px;
}

.button:hover {
  background-color: var(--cg-blue);
}

.resume {
  background: var(--cg-darkest-pink);
  padding: 40px;
  border-radius: 20px;
  margin-top: 20px;
}

.resume h2 {
  font-family: ManRope;
}

/* CSS for contact form */

label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
}

.submit-button,
.download-link {
  width: 70px;
  height: 30px;
  border: none;
  font-family: monospace;
  background-color: var(--cg-darkest-pink);
  color: var(--cg-white);
  border-radius: 15px;
  transition: background-color 0.2s;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button:hover,
.download-link:hover {
  background-color: var(--cg-dark-pink);
  cursor: pointer;
}

input[type="text"],
input[type="email"] {
  height: 18px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  border-radius: 18px;
  font-family: monospace;
}

/* Add some spacing to the form */
form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CSS for footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--cg-white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
