.page_title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Manrope;
  color: white;
}

.contact_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}