.blog_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--cg-darkest-pink);
  padding: 40px;
  border-radius: 20px;
  margin-top: 20px;
  width: 60%;
}

.blog_post_body {
  width: 90%;
  font-size: 16px;
}

.blog_post_body p {
  text-indent: 2em;
}

.blog_post_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: monospace;
}

.page_title {
  font-family: Manrope;
}

.comment_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
