.page_title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Manrope;
  color: white;
}

.contact_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit_button {
  width: 70px;
  height: 30px;
  border: none;
  font-family: monospace;
  background-color: var(--cg-darkest-pink);
  color: var(--cg-white);
  border-radius: 15px;
  transition: background-color 0.2s;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit_button:hover {
  background-color: var(--cg-dark-pink);
  cursor: pointer;
}

.contact_container input[type="text"],
.contact_container input[type="email"] {
  height: 18px;
}

.contact_container input[type="text"],
.contact_container input[type="email"],
.contact_container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  border-radius: 18px;
  font-family: monospace;
}

.contact_container form {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
