:root {
  --cg-black: rgb(30, 32, 32);
  --cg-blue: rgb(36, 94, 255);
  --cg-grey: rgb(243, 243, 243);
  --cg-white: rgb(255, 255, 255);
  --cg-darkest-grey: rgb(42, 44, 44);
  --cg-dark-grey: rgb(53, 56, 56);
  --cg-darkest-pink: rgb(83, 34, 46);
  --cg-dark-pink: rgb(121, 44, 62);
  --cg-light-pink: rgb(255, 83, 123);
  --cg-dark-transparent: rgba(60, 40, 36, 0);
  --cg-dark-opaque: rgb(60, 40, 36, 1);
}

body {
  padding: 0;
  margin: 0;
}

#beach-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
