.comment_writer_container {
  display: flex;
  flex-direction: column;
  background-color: var(--cg-darkest-pink);
  margin: 0px 20px 20px 20px;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
}

.comment_writer_user {
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  background-color: var(--cg-darkest-pink);
  color: white;
}

.comment_writer_body {
  width: 100%;
  resize: none;
  field-sizing: content;
  border: none;
  background-color: var(--cg-darkest-pink);
  color: white;
}

::placeholder {
  color: white;
}

.comment_writer_body:focus,
.comment_writer_user:focus {
  outline: none;
  border: none;
}

.submit_container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

.submit_comment {
  width: 70px;
  height: 30px;
  border: none;
  font-family: monospace;
  font-weight: bold;
  background-color: var(--cg-dark-pink);
  color: var(--cg-white);
  border-radius: 15px;
  transition: background-color 0.2s;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.submit_comment:hover {
  cursor: pointer;
  background-color: var(--cg-light-pink);
  transform: scale(1.05);
}

.comment_status {
  margin-right: 10px;
  font-size: 11px;
  text-align: left;
}
