.speech_bubble,
.speech_bubble_small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--cg-darkest-pink);
  border-radius: 20px;
  margin-bottom: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.speech_bubble_horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.speech_bubble_vertical {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.img_with_speech {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.speech_bubble_horizontal,
.speech_bubble_vertical,
.project_details,
.about_image,
.blog_element {
  transition: transform 0.2s, background-color 0.2s;
}

.about_image {
  margin-right: 70px;
}

.about_image img {
  max-width: 300px;
  border-radius: 50%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.speech_tri_left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid var(--cg-darkest-pink);
  border-bottom: 50px solid transparent;
}

.speech_tri_up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--cg-darkest-pink);
  margin-left: 100px;
}

.about_text,
.hobby_text {
  flex: 1;
  margin-left: 20px;
}

.about_text,
.hobby_text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about_text,
.hobby_text p {
  font-size: 30px;
  line-height: 1.5;
}

.about_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  max-width: 1400px;
  font-family: monospace;
  color: white;
}

.page {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speech_bubble_horizontal:hover,
.speech_bubble_vertical:hover,
.about_image:hover {
  transform: scale(1.05);
}

.speech_bubble_horizontal:hover,
.speech_bubble_vertical:hover {
  cursor: default;
}
